<h1><%= @page_title %></h1>
<p>This is the index site About</p>
<p>Taxidermy venmo unicorn air plant. Prism banjo portland chia PBR&B chicharrones. Snackwave try-hard marfa cloud bread yuccie vegan bicycle rights cray kinfolk intelligentsia live-edge helvetica. Helvetica cornhole brunch truffaut four dollar toast slow-carb before they sold out. Tattooed YOLO pinterest vice. Master cleanse artisan tilde keffiyeh deep v four dollar toast chillwave synth. Mixtape venmo selfies leggings gluten-free. Woke kinfolk taxidermy whatever intelligentsia blue bottle occupy hammock coloring book cardigan gochujang raclette shaman street art venmo. Fingerstache ennui mlkshk subway tile pok pok mixtape beard waistcoat humblebrag dreamcatcher blog aesthetic brunch taxidermy irony. Butcher snackwave umami venmo, normcore kitsch vaporware ennui.</p>
<h3>Card Deck</h3>
<div class="card-deck">
  <div class="card">
    
    <%= image_tag ('covers/beginning_php5.jpg'), class: 'card-img-top' %>
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    
    <%= image_tag ('covers/ajax_on_rails.jpg'), class: 'card-img-top' %>
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    
    <%= image_tag ('covers/html5_css3.jpg'), class: 'card-img-top' %>
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<h3>Card Group</h3>
<div class="card-group">
  <div class="card">
    
    <%= image_tag ('covers/html5_css3.jpg'), class: 'card-img-top' %>
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
        <%= image_tag ('covers/php_cookbook.jpg'), class: 'card-img-top' %>
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
        <%= image_tag ('covers/ruby_on_rails_power.jpg'), class: 'card-img-top' %>
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
